<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.espread.sys.mapper.SaleBillVouchsMapper" >
  <resultMap id="BaseResultMap" type="com.espread.sys.model.SaleBillVouchs" >
    <id column="AutoID" property="autoid" jdbcType="INTEGER" />
    <result column="SBVID" property="sbvid" jdbcType="INTEGER" />
    <result column="cWhCode" property="cwhcode" jdbcType="NVARCHAR" />
    <result column="cInvCode" property="cinvcode" jdbcType="NVARCHAR" />
    <result column="iQuantity" property="iquantity" jdbcType="DECIMAL" />
    <result column="iNum" property="inum" jdbcType="DECIMAL" />
    <result column="iQuotedPrice" property="iquotedprice" jdbcType="DECIMAL" />
    <result column="iUnitPrice" property="iunitprice" jdbcType="DECIMAL" />
    <result column="iTaxUnitPrice" property="itaxunitprice" jdbcType="DECIMAL" />
    <result column="iMoney" property="imoney" jdbcType="DECIMAL" />
    <result column="iTax" property="itax" jdbcType="DECIMAL" />
    <result column="iSum" property="isum" jdbcType="DECIMAL" />
    <result column="iDisCount" property="idiscount" jdbcType="DECIMAL" />
    <result column="iNatUnitPrice" property="inatunitprice" jdbcType="DECIMAL" />
    <result column="iNatMoney" property="inatmoney" jdbcType="DECIMAL" />
    <result column="iNatTax" property="inattax" jdbcType="DECIMAL" />
    <result column="iNatSum" property="inatsum" jdbcType="DECIMAL" />
    <result column="iNatDisCount" property="inatdiscount" jdbcType="DECIMAL" />
    <result column="iSBVID" property="isbvid" jdbcType="INTEGER" />
    <result column="iMoneySum" property="imoneysum" jdbcType="DECIMAL" />
    <result column="iExchSum" property="iexchsum" jdbcType="DECIMAL" />
    <result column="cClue" property="cclue" jdbcType="NVARCHAR" />
    <result column="cIncomeSub" property="cincomesub" jdbcType="NVARCHAR" />
    <result column="cTaxSub" property="ctaxsub" jdbcType="NVARCHAR" />
    <result column="dSignDate" property="dsigndate" jdbcType="TIMESTAMP" />
    <result column="cMemo" property="cmemo" jdbcType="NVARCHAR" />
    <result column="iBatch" property="ibatch" jdbcType="INTEGER" />
    <result column="cBatch" property="cbatch" jdbcType="NVARCHAR" />
    <result column="bSettleAll" property="bsettleall" jdbcType="BIT" />
    <result column="cFree1" property="cfree1" jdbcType="NVARCHAR" />
    <result column="cFree2" property="cfree2" jdbcType="NVARCHAR" />
    <result column="RdsID" property="rdsid" jdbcType="INTEGER" />
    <result column="iTB" property="itb" jdbcType="TINYINT" />
    <result column="dvDate" property="dvdate" jdbcType="TIMESTAMP" />
    <result column="TBQuantity" property="tbquantity" jdbcType="DECIMAL" />
    <result column="TBNum" property="tbnum" jdbcType="DECIMAL" />
    <result column="iSOsID" property="isosid" jdbcType="INTEGER" />
    <result column="iDLsID" property="idlsid" jdbcType="INTEGER" />
    <result column="KL" property="kl" jdbcType="DECIMAL" />
    <result column="KL2" property="kl2" jdbcType="DECIMAL" />
    <result column="cInvName" property="cinvname" jdbcType="NVARCHAR" />
    <result column="iTaxRate" property="itaxrate" jdbcType="DECIMAL" />
    <result column="cDefine22" property="cdefine22" jdbcType="NVARCHAR" />
    <result column="cDefine23" property="cdefine23" jdbcType="NVARCHAR" />
    <result column="cDefine24" property="cdefine24" jdbcType="NVARCHAR" />
    <result column="cDefine25" property="cdefine25" jdbcType="NVARCHAR" />
    <result column="cDefine26" property="cdefine26" jdbcType="DOUBLE" />
    <result column="cDefine27" property="cdefine27" jdbcType="DOUBLE" />
    <result column="fOutQuantity" property="foutquantity" jdbcType="DECIMAL" />
    <result column="fOutNum" property="foutnum" jdbcType="DECIMAL" />
    <result column="cItemCode" property="citemcode" jdbcType="NVARCHAR" />
    <result column="cItem_class" property="citemClass" jdbcType="NVARCHAR" />
    <result column="fSaleCost" property="fsalecost" jdbcType="DECIMAL" />
    <result column="fSalePrice" property="fsaleprice" jdbcType="DECIMAL" />
    <result column="cItemName" property="citemname" jdbcType="NVARCHAR" />
    <result column="cItem_CName" property="citemCname" jdbcType="NVARCHAR" />
    <result column="cFree3" property="cfree3" jdbcType="NVARCHAR" />
    <result column="cFree4" property="cfree4" jdbcType="NVARCHAR" />
    <result column="cFree5" property="cfree5" jdbcType="NVARCHAR" />
    <result column="cFree6" property="cfree6" jdbcType="NVARCHAR" />
    <result column="cFree7" property="cfree7" jdbcType="NVARCHAR" />
    <result column="cFree8" property="cfree8" jdbcType="NVARCHAR" />
    <result column="cFree9" property="cfree9" jdbcType="NVARCHAR" />
    <result column="cFree10" property="cfree10" jdbcType="NVARCHAR" />
    <result column="iInvExchRate" property="iinvexchrate" jdbcType="DECIMAL" />
    <result column="cUnitID" property="cunitid" jdbcType="NVARCHAR" />
    <result column="cDefine28" property="cdefine28" jdbcType="NVARCHAR" />
    <result column="cDefine29" property="cdefine29" jdbcType="NVARCHAR" />
    <result column="cDefine30" property="cdefine30" jdbcType="NVARCHAR" />
    <result column="cDefine31" property="cdefine31" jdbcType="NVARCHAR" />
    <result column="cDefine32" property="cdefine32" jdbcType="NVARCHAR" />
    <result column="cDefine33" property="cdefine33" jdbcType="NVARCHAR" />
    <result column="cDefine34" property="cdefine34" jdbcType="INTEGER" />
    <result column="cDefine35" property="cdefine35" jdbcType="INTEGER" />
    <result column="cDefine36" property="cdefine36" jdbcType="TIMESTAMP" />
    <result column="cDefine37" property="cdefine37" jdbcType="TIMESTAMP" />
    <result column="dMDate" property="dmdate" jdbcType="TIMESTAMP" />
    <result column="iPBVsID" property="ipbvsid" jdbcType="INTEGER" />
    <result column="cCode" property="ccode" jdbcType="NVARCHAR" />
    <result column="cSoCode" property="csocode" jdbcType="NVARCHAR" />
    <result column="bgsp" property="bgsp" jdbcType="BIT" />
    <result column="iPPartSeqID" property="ippartseqid" jdbcType="INTEGER" />
    <result column="iPPartID" property="ippartid" jdbcType="INTEGER" />
    <result column="iPPartQty" property="ippartqty" jdbcType="DECIMAL" />
    <result column="cContractID" property="ccontractid" jdbcType="NVARCHAR" />
    <result column="cContractTagCode" property="ccontracttagcode" jdbcType="NVARCHAR" />
    <result column="cContractRowGuid" property="ccontractrowguid" jdbcType="CHAR" />
    <result column="iMassDate" property="imassdate" jdbcType="INTEGER" />
    <result column="cMassUnit" property="cmassunit" jdbcType="SMALLINT" />
    <result column="bQANeedCheck" property="bqaneedcheck" jdbcType="BIT" />
    <result column="bQAUrgency" property="bqaurgency" jdbcType="BIT" />
    <result column="cCusInvCode" property="ccusinvcode" jdbcType="NVARCHAR" />
    <result column="cCusInvName" property="ccusinvname" jdbcType="NVARCHAR" />
    <result column="cbaccounter" property="cbaccounter" jdbcType="NVARCHAR" />
    <result column="bcosting" property="bcosting" jdbcType="BIT" />
    <result column="cordercode" property="cordercode" jdbcType="NVARCHAR" />
    <result column="iorderrowno" property="iorderrowno" jdbcType="BIGINT" />
    <result column="fcusminprice" property="fcusminprice" jdbcType="DECIMAL" />
    <result column="cvmivencode" property="cvmivencode" jdbcType="NVARCHAR" />
    <result column="cVenAbbName" property="cvenabbname" jdbcType="NVARCHAR" />
    <result column="irowno" property="irowno" jdbcType="BIGINT" />
    <result column="iExpiratDateCalcu" property="iexpiratdatecalcu" jdbcType="SMALLINT" />
    <result column="dExpirationdate" property="dexpirationdate" jdbcType="TIMESTAMP" />
    <result column="cExpirationdate" property="cexpirationdate" jdbcType="NVARCHAR" />
    <result column="cbatchproperty1" property="cbatchproperty1" jdbcType="DECIMAL" />
    <result column="cbatchproperty2" property="cbatchproperty2" jdbcType="DECIMAL" />
    <result column="cbatchproperty3" property="cbatchproperty3" jdbcType="DECIMAL" />
    <result column="cbatchproperty4" property="cbatchproperty4" jdbcType="DECIMAL" />
    <result column="cbatchproperty5" property="cbatchproperty5" jdbcType="DECIMAL" />
    <result column="cbatchproperty6" property="cbatchproperty6" jdbcType="NVARCHAR" />
    <result column="cbatchproperty7" property="cbatchproperty7" jdbcType="NVARCHAR" />
    <result column="cbatchproperty8" property="cbatchproperty8" jdbcType="NVARCHAR" />
    <result column="cbatchproperty9" property="cbatchproperty9" jdbcType="NVARCHAR" />
    <result column="cbatchproperty10" property="cbatchproperty10" jdbcType="TIMESTAMP" />
    <result column="idemandtype" property="idemandtype" jdbcType="SMALLINT" />
    <result column="cdemandcode" property="cdemandcode" jdbcType="NVARCHAR" />
    <result column="cdemandmemo" property="cdemandmemo" jdbcType="NVARCHAR" />
    <result column="cdemandid" property="cdemandid" jdbcType="NVARCHAR" />
    <result column="idemandseq" property="idemandseq" jdbcType="BIGINT" />
    <result column="cbdlcode" property="cbdlcode" jdbcType="NVARCHAR" />
    <result column="iInvSNCount" property="iinvsncount" jdbcType="INTEGER" />
    <result column="cInvSN" property="cinvsn" jdbcType="NVARCHAR" />
    <result column="cReasonCode" property="creasoncode" jdbcType="NVARCHAR" />
    <result column="cvencode" property="cvencode" jdbcType="NVARCHAR" />
    <result column="bneedsign" property="bneedsign" jdbcType="BIT" />
    <result column="cgathingcode" property="cgathingcode" jdbcType="NVARCHAR" />
    <result column="ftaxpasum" property="ftaxpasum" jdbcType="DECIMAL" />
    <result column="fpasum" property="fpasum" jdbcType="DECIMAL" />
    <result column="fnattaxpasum" property="fnattaxpasum" jdbcType="DECIMAL" />
    <result column="fnatpasum" property="fnatpasum" jdbcType="DECIMAL" />
    <result column="body_outid" property="bodyOutid" jdbcType="CHAR" />
    <result column="cPZNum" property="cpznum" jdbcType="NVARCHAR" />
    <result column="cInVouchType" property="cinvouchtype" jdbcType="NVARCHAR" />
    <result column="cBookWhcode" property="cbookwhcode" jdbcType="NVARCHAR" />
    <result column="icostquantity" property="icostquantity" jdbcType="DECIMAL" />
    <result column="icostsum" property="icostsum" jdbcType="DECIMAL" />
    <result column="cPosition" property="cposition" jdbcType="NVARCHAR" />
    <result column="dkeepdate" property="dkeepdate" jdbcType="TIMESTAMP" />
    <result column="isaleoutid" property="isaleoutid" jdbcType="BIGINT" />
    <result column="bsaleprice" property="bsaleprice" jdbcType="BIT" />
    <result column="bgift" property="bgift" jdbcType="BIT" />
    <result column="cbsaleout" property="cbsaleout" jdbcType="NVARCHAR" />
    <result column="bmpforderclosed" property="bmpforderclosed" jdbcType="BIT" />
    <result column="cbSysBarCode" property="cbsysbarcode" jdbcType="NVARCHAR" />
    <result column="fchildrate" property="fchildrate" jdbcType="DECIMAL" />
    <result column="cParentCode" property="cparentcode" jdbcType="NVARCHAR" />
    <result column="cChildCode" property="cchildcode" jdbcType="NVARCHAR" />
    <result column="fchildqty" property="fchildqty" jdbcType="DECIMAL" />
    <result column="iCalcType" property="icalctype" jdbcType="TINYINT" />
    <result column="fretailrealamount" property="fretailrealamount" jdbcType="DECIMAL" />
    <result column="fretailapportionamount" property="fretailapportionamount" jdbcType="DECIMAL" />
    <result column="fretailsettleamount" property="fretailsettleamount" jdbcType="DECIMAL" />
    <result column="cFactoryCode" property="cfactorycode" jdbcType="NVARCHAR" />
    <result column="GCSourceId" property="gcsourceid" jdbcType="INTEGER" />
    <result column="GCSourceIds" property="gcsourceids" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
      a.AutoID, a.SBVID, a.cWhCode, a.cInvCode, a.iQuantity, a.iNum, a.iQuotedPrice, a.iUnitPrice, a.iTaxUnitPrice,
     a.iMoney, a.iTax, a.iSum, a.iDisCount, a.iNatUnitPrice, a.iNatMoney, a.iNatTax, a.iNatSum, a.iNatDisCount,
    a.iSBVID, a.iMoneySum, a.iExchSum, a.cClue, a.cIncomeSub, a.cTaxSub, a.dSignDate, a.cMemo, a.iBatch, 
    a.cBatch, a.bSettleAll, a.cFree1, a.cFree2, a.RdsID, a.iTB, a.dvDate, a.TBQuantity, a.TBNum, a.iSOsID, 
     a.iDLsID, a.KL, a.KL2, a.cInvName, a.iTaxRate, a.cDefine22, a.cDefine23, a.cDefine24, a.cDefine25,
    a.cDefine26, a.cDefine27, a.fOutQuantity, a.fOutNum, a.cItemCode, a.cItem_class, a.fSaleCost, a.fSalePrice, 
     a.cItemName, a.cItem_CName, a.cFree3, a.cFree4, a.cFree5, a.cFree6, a.cFree7, a.cFree8, a.cFree9, a.cFree10,
    a.iInvExchRate, a.cUnitID, a.cDefine28, a.cDefine29, a.cDefine30, a.cDefine31, a.cDefine32, a.cDefine33, 
    a.cDefine34, a.cDefine35, a.cDefine36, a.cDefine37, a.dMDate, a.iPBVsID, a.cCode, a.cSoCode, a.bgsp, 
    a.iPPartSeqID, a.iPPartID, a.iPPartQty, a.cContractID, a.cContractTagCode, a.cContractRowGuid, 
    a.iMassDate, a.cMassUnit, a.bQANeedCheck, a.bQAUrgency, a.cCusInvCode, a.cCusInvName, a.cbaccounter, 
    a.bcosting, a.cordercode, a.iorderrowno, a.fcusminprice, a.cvmivencode, a.cVenAbbName, a.irowno, 
    a.iExpiratDateCalcu, a.dExpirationdate, a.cExpirationdate, a.cbatchproperty1, a.cbatchproperty2, 
    a.cbatchproperty3, a.cbatchproperty4, a.cbatchproperty5, a.cbatchproperty6, a.cbatchproperty7, 
    a.cbatchproperty8, a.cbatchproperty9, a.cbatchproperty10, a.idemandtype, a.cdemandcode, a.cdemandmemo, 
    a.cdemandid, a.idemandseq, a.cbdlcode, a.iInvSNCount, 
     a.cReasonCode, a.cvencode, a.bneedsign, 
    a.cgathingcode, a.ftaxpasum, a.fpasum, a.fnattaxpasum, a.fnatpasum, a.body_outid, a.cPZNum, a.cInVouchType, 
    a.cBookWhcode, a.icostquantity, a.icostsum, a.cPosition, a.dkeepdate, a.isaleoutid, a.bsaleprice, 
    a.bgift, a.cbsaleout, a.bmpforderclosed, a.cbSysBarCode, a.fchildrate, a.cParentCode, a.cChildCode, 
    a.fchildqty, a.iCalcType, a.fretailrealamount, a.fretailapportionamount, a.fretailsettleamount, 
    a.cFactoryCode, a.GCSourceId, a.GCSourceIds
  </sql>
   <select id="selectByKPVIN" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
     ,c.cInvSN 
    from SaleBillVouchs a 
	inner join DispatchLists b on a.iDLsID=b.idlsid 
    inner join SA_SNDetail_Disp c on b.idlsid=c.idlsid 
	inner join dbo.Inventory d on a.cInvCode=d.cInvCode 
    where d.cInvCCode like '1%' 
    and  a.SBVID   = #{SBVID  ,jdbcType=BIGINT} 
  </select>
</mapper>