<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.espread.sys.mapper.TransVouchsMapper">
    <resultMap id="BaseResultMap" type="com.espread.sys.model.TransVouchs">
        <id column="autoID" property="autoid" jdbcType="INTEGER"/>
        <result column="cTVCode" property="ctvcode" jdbcType="NVARCHAR"/>
        <result column="cInvCode" property="cinvcode" jdbcType="NVARCHAR"/>
        <result column="RdsID" property="rdsid" jdbcType="INTEGER"/>
        <result column="iTVNum" property="itvnum" jdbcType="DECIMAL"/>
        <result column="iTVQuantity" property="itvquantity" jdbcType="DECIMAL"/>
        <result column="iTVACost" property="itvacost" jdbcType="DECIMAL"/>
        <result column="iTVAPrice" property="itvaprice" jdbcType="DECIMAL"/>
        <result column="iTVPCost" property="itvpcost" jdbcType="DECIMAL"/>
        <result column="iTVPPrice" property="itvpprice" jdbcType="DECIMAL"/>
        <result column="cTVBatch" property="ctvbatch" jdbcType="NVARCHAR"/>
        <result column="dDisDate" property="ddisdate" jdbcType="TIMESTAMP"/>
        <result column="cFree1" property="cfree1" jdbcType="NVARCHAR"/>
        <result column="cFree2" property="cfree2" jdbcType="NVARCHAR"/>
        <result column="cDefine22" property="cdefine22" jdbcType="NVARCHAR"/>
        <result column="cDefine23" property="cdefine23" jdbcType="NVARCHAR"/>
        <result column="cDefine24" property="cdefine24" jdbcType="NVARCHAR"/>
        <result column="cDefine25" property="cdefine25" jdbcType="NVARCHAR"/>
        <result column="cDefine26" property="cdefine26" jdbcType="DOUBLE"/>
        <result column="cDefine27" property="cdefine27" jdbcType="DOUBLE"/>
        <result column="cItemCode" property="citemcode" jdbcType="NVARCHAR"/>
        <result column="cItem_class" property="citemClass" jdbcType="NVARCHAR"/>
        <result column="fSaleCost" property="fsalecost" jdbcType="DECIMAL"/>
        <result column="fSalePrice" property="fsaleprice" jdbcType="DECIMAL"/>
        <result column="cName" property="cname" jdbcType="NVARCHAR"/>
        <result column="cItemCName" property="citemcname" jdbcType="NVARCHAR"/>
        <result column="ID" property="id" jdbcType="INTEGER"/>
        <result column="iMassDate" property="imassdate" jdbcType="INTEGER"/>
        <result column="cBarCode" property="cbarcode" jdbcType="NVARCHAR"/>
        <result column="cAssUnit" property="cassunit" jdbcType="NVARCHAR"/>
        <result column="cFree3" property="cfree3" jdbcType="NVARCHAR"/>
        <result column="cFree4" property="cfree4" jdbcType="NVARCHAR"/>
        <result column="cFree5" property="cfree5" jdbcType="NVARCHAR"/>
        <result column="cFree6" property="cfree6" jdbcType="NVARCHAR"/>
        <result column="cFree7" property="cfree7" jdbcType="NVARCHAR"/>
        <result column="cFree8" property="cfree8" jdbcType="NVARCHAR"/>
        <result column="cFree9" property="cfree9" jdbcType="NVARCHAR"/>
        <result column="cFree10" property="cfree10" jdbcType="NVARCHAR"/>
        <result column="cDefine28" property="cdefine28" jdbcType="NVARCHAR"/>
        <result column="cDefine29" property="cdefine29" jdbcType="NVARCHAR"/>
        <result column="cDefine30" property="cdefine30" jdbcType="NVARCHAR"/>
        <result column="cDefine31" property="cdefine31" jdbcType="NVARCHAR"/>
        <result column="cDefine32" property="cdefine32" jdbcType="NVARCHAR"/>
        <result column="cDefine33" property="cdefine33" jdbcType="NVARCHAR"/>
        <result column="cDefine34" property="cdefine34" jdbcType="INTEGER"/>
        <result column="cDefine35" property="cdefine35" jdbcType="INTEGER"/>
        <result column="cDefine36" property="cdefine36" jdbcType="TIMESTAMP"/>
        <result column="cDefine37" property="cdefine37" jdbcType="TIMESTAMP"/>
        <result column="iMPoIds" property="impoids" jdbcType="INTEGER"/>
        <result column="cBVencode" property="cbvencode" jdbcType="NVARCHAR"/>
        <result column="cInVouchCode" property="cinvouchcode" jdbcType="NVARCHAR"/>
        <result column="dMadeDate" property="dmadedate" jdbcType="TIMESTAMP"/>
        <result column="cMassUnit" property="cmassunit" jdbcType="SMALLINT"/>
        <result column="iTRIds" property="itrids" jdbcType="INTEGER"/>
        <result column="AppTransIDS" property="apptransids" jdbcType="INTEGER"/>
        <result column="iSSoType" property="issotype" jdbcType="INTEGER"/>
        <result column="iSSodid" property="issodid" jdbcType="NVARCHAR"/>
        <result column="iDSoType" property="idsotype" jdbcType="INTEGER"/>
        <result column="iDSodid" property="idsodid" jdbcType="NVARCHAR"/>
        <result column="bCosting" property="bcosting" jdbcType="BIT"/>
        <result column="cvmivencode" property="cvmivencode" jdbcType="NVARCHAR"/>
        <result column="cinposcode" property="cinposcode" jdbcType="NVARCHAR"/>
        <result column="coutposcode" property="coutposcode" jdbcType="NVARCHAR"/>
        <result column="iinvsncount" property="iinvsncount" jdbcType="INTEGER"/>
        <result column="iinvexchrate" property="iinvexchrate" jdbcType="DECIMAL"/>
        <result column="comcode" property="comcode" jdbcType="NVARCHAR"/>
        <result column="cmocode" property="cmocode" jdbcType="NVARCHAR"/>
        <result column="invcode" property="invcode" jdbcType="NVARCHAR"/>
        <result column="imoseq" property="imoseq" jdbcType="INTEGER"/>
        <result column="iomids" property="iomids" jdbcType="INTEGER"/>
        <result column="imoids" property="imoids" jdbcType="INTEGER"/>
        <result column="corufts" property="corufts" jdbcType="VARCHAR"/>
        <result column="iExpiratDateCalcu" property="iexpiratdatecalcu" jdbcType="SMALLINT"/>
        <result column="cExpirationdate" property="cexpirationdate" jdbcType="VARCHAR"/>
        <result column="dExpirationdate" property="dexpirationdate" jdbcType="TIMESTAMP"/>
        <result column="cBatchProperty1" property="cbatchproperty1" jdbcType="DECIMAL"/>
        <result column="cBatchProperty2" property="cbatchproperty2" jdbcType="DECIMAL"/>
        <result column="cBatchProperty3" property="cbatchproperty3" jdbcType="DECIMAL"/>
        <result column="cBatchProperty4" property="cbatchproperty4" jdbcType="DECIMAL"/>
        <result column="cBatchProperty5" property="cbatchproperty5" jdbcType="DECIMAL"/>
        <result column="cBatchProperty6" property="cbatchproperty6" jdbcType="NVARCHAR"/>
        <result column="cBatchProperty7" property="cbatchproperty7" jdbcType="NVARCHAR"/>
        <result column="cBatchProperty8" property="cbatchproperty8" jdbcType="NVARCHAR"/>
        <result column="cBatchProperty9" property="cbatchproperty9" jdbcType="NVARCHAR"/>
        <result column="cBatchProperty10" property="cbatchproperty10" jdbcType="TIMESTAMP"/>
        <result column="cciqbookcode" property="cciqbookcode" jdbcType="NVARCHAR"/>
        <result column="cbMemo" property="cbmemo" jdbcType="NVARCHAR"/>
        <result column="irowno" property="irowno" jdbcType="INTEGER"/>
        <result column="strowguid" property="strowguid" jdbcType="CHAR"/>
        <result column="cinvouchtype" property="cinvouchtype" jdbcType="NVARCHAR"/>
        <result column="cbsourcecodels" property="cbsourcecodels" jdbcType="NVARCHAR"/>
        <result column="cMoLotCode" property="cmolotcode" jdbcType="NVARCHAR"/>
        <result column="cInVoucherLineID" property="cinvoucherlineid" jdbcType="INTEGER"/>
        <result column="cInVoucherCode" property="cinvouchercode" jdbcType="NVARCHAR"/>
        <result column="cInVoucherType" property="cinvouchertype" jdbcType="NVARCHAR"/>
        <result column="cbsysbarcode" property="cbsysbarcode" jdbcType="NVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        autoID, cTVCode, cInvCode, RdsID, iTVNum, iTVQuantity, iTVACost, iTVAPrice, iTVPCost,
        iTVPPrice, cTVBatch, dDisDate, cFree1, cFree2, cDefine22, cDefine23, cDefine24, cDefine25,
        cDefine26, cDefine27, cItemCode, cItem_class, fSaleCost, fSalePrice, cName, cItemCName,
        ID, iMassDate, cBarCode, cAssUnit, cFree3, cFree4, cFree5, cFree6, cFree7, cFree8,
        cFree9, cFree10, cDefine28, cDefine29, cDefine30, cDefine31, cDefine32, cDefine33,
        cDefine34, cDefine35, cDefine36, cDefine37, iMPoIds, cBVencode, cInVouchCode, dMadeDate,
        cMassUnit, iTRIds, AppTransIDS, iSSoType, iSSodid, iDSoType, iDSodid, bCosting, cvmivencode,
        cinposcode, coutposcode, iinvsncount, iinvexchrate, comcode, cmocode, invcode, imoseq,
        iomids, imoids, corufts, iExpiratDateCalcu, cExpirationdate, dExpirationdate, cBatchProperty1,
        cBatchProperty2, cBatchProperty3, cBatchProperty4, cBatchProperty5, cBatchProperty6,
        cBatchProperty7, cBatchProperty8, cBatchProperty9, cBatchProperty10, cciqbookcode,
        cbMemo, irowno, strowguid, cinvouchtype, cbsourcecodels, cMoLotCode, cInVoucherLineID,
        cInVoucherCode, cInVoucherType, cbsysbarcode
    </sql>
    <select id="selectByTransVouchs" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from TransVouchs
        where id = #{id ,jdbcType=INTEGER}
    </select>

</mapper>